*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.clear{
    clear: both;
}

.container{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

/* HEADER */

header{
    width: 100%;
    padding: 20px 2%;
}

.logo{
    float: left;
    width: 236px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.menu-desktop{
    float: right;
}

.menu-desktop ul{
    list-style: none;
}

.menu-desktop li{
    float: left;
    line-height: 40px;
    padding: 0 16px;
    font-size: 14px;
}

.menu-desktop li a, .menu-mobile li a{
    text-decoration: none;
    color: #b4b4b4;
    text-transform: uppercase;
}

.menu-mobile{
    width: 28px;
    height: 28px;
    margin-top: 5px;
    float: right;
    display: none;
    background-image: url(../img/menu-mobile.png);
    background-size: 100% 100%;
    cursor: pointer;
}

.menu-mobile ul{
    width: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 100;
    background-color: white;
    text-align: center;
}

.menu-mobile ul li{
    padding: 10px 0;
}

/* MOSAIC */

.mosaic-single{
    width: calc(100% / 6);
    float: left;
}

.img-mosaic-single{
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    /*background-image: url();*/
    border: 5px solid white;
}

/* SERVICES */

.services > .container{
    width: 100%;
    max-width: 800px;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    top: -30px;
}

.services > .container > .box-service{
    background-image: url(../img/icone_dente.png);
    background-size: 18px 18px;
    background-position: center calc(100% - 5px);
    background-repeat: no-repeat;
}

.services > .container > .box-service:nth-of-type(1){
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}

.services > .container > .box-service:nth-of-type(2){
    width: 40%;
    padding: 45px 2%;
    background-color: #688293;
    background-image: none;
}

.services > .container > .box-service:nth-of-type(3){
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}

.services > .container > .box-service h2{
    font-size: 15px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
}

.services > .container > .box-service p{
    font-size: 12px;
    font-weight: normal;
    margin-top: 8px;
    color: white;
}

/* PERFIL */

.perfil{
    padding: 40px 0;
}

.perfil .container{
    width: 100%;
    max-width: 800px;
}

.perfil .perfil-box2{
    padding-top: 60%;
    position: relative;
}

.perfil .perfil-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.perfil .img-perfil{
    width: 40%;
    height: 100%;
    background-image: url(../img/img_perfil.png);
    background-size: 100% 100%;
}

.perfil .texto-perfil{
    width: 60%;
    padding: 0 30px;
}

.perfil .texto-perfil h2{
    font-size: 18px;
    color: #698293;
}

.perfil .texto-perfil p{
    margin-top: 8px;
    color: #4b4b4b;
    font-size: 14px;
}

/* VIDEO */

.video{
    padding: 50px 0;
}

.video .box-video{
    width: 33.3%;
    float: left;
    position: relative;
    padding-top: calc(33.3% * 0.6);
    border: 5px solid white;
}

.video iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* TRATAMENTOS */

.tratamentos{
    padding: 50px 0;
}

.tratamentos > h2{
    text-align: center;
    color: #698293;
    font-size: 22px;
}

.tratamentos .container{
    padding: 50px 0;
}

.tratamentos-wraper{
    float: left;
    width: 33.3%;
}

.tratamentos-single{
    padding: 20px;
}

.tratamentos-single h2{
    font-size: 18px;
    font-weight: normal;
    color: #737373;
}

.tratamentos-single p{
    font-size: 13px;
    color: #b4b4b4;
    padding-top: 10px;
}

/* DEPOIMENTOS */

.depoimentos > h2{
    text-align: center;
    color: #698293;
    font-size: 22px;
}

.depoimentos .container{
    padding: 60px 0;
    text-align: center;
    max-width: 400px;
}

.depoimentos-single{
    display: none;
}

.depoimentos-single quote{
    font-size: 15px;
    color: #b4b4b4;
}

.depoimentos .nome-depoimento{
    padding: 18px;
}

.depoimentos .nome-depoimento img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.depoimentos .nome-depoimento span{
    font-size: 13px;
    color: #b4b4b4;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 5px;
}

/* SLIDE */

.depoimentos .bullets{
    text-align: center;
    margin-top: 20px;
}

.depoimentos .bullets label{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #b4b4b4;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.4s;
}

.depoimentos .container input[type=radio]{
    display: none;
}

.depoimentos #chk1:checked ~ .bullets .lbl1,
.depoimentos #chk2:checked ~ .bullets .lbl2,
.depoimentos #chk3:checked ~ .bullets .lbl3{
    background-color: rgb(100,100,100);
}

.depoimentos #chk1:checked ~ .depoimentos-single:nth-of-type(1),
.depoimentos #chk2:checked ~ .depoimentos-single:nth-of-type(2),
.depoimentos #chk3:checked ~ .depoimentos-single:nth-of-type(3){
    display: block;
}

/* SOCIAL */

.instagram{
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background-color: #98a5ae;
}

.instagram p{
    color: white;
    font-size: 13px;
    line-height: 24px;
    padding: 10px 0;
}

/* MOSAICO */

.mosaico-social{
    width: 100%;
}

.img-mosaico-social{
    float: left;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    border: 5px solid white;
}

.img-mosaico-social:nth-of-type(1){
    background-image: url(../img/img1.jpg);
    background-size: 100% 100%;
}

.img-mosaico-social:nth-of-type(2){
    background-image: url(../img/img2.jpg);
    background-size: 100% 100%;
}

.img-mosaico-social:nth-of-type(3){
    background-image: url(../img/img3.jpg);
    background-size: 100% 100%;
}

.img-mosaico-social:nth-of-type(4){
    background-image: url(../img/img4.jpg);
    background-size: 100% 100%;
}

.img-mosaico-social:nth-of-type(5){
    background-image: url(../img/img5.jpg);
    background-size: 100% 100%;
}

.img-mosaico-social:nth-of-type(6){
    background-image: url(../img/img6.jpg);
    background-size: 100% 100%;
}

.img-mosaico-social:nth-of-type(7){
    background-image: url(../img/img7.jpg);
    background-size: 100% 100%;
}

.img-mosaico-social:nth-of-type(8){
    background-image: url(../img/img8.jpg);
    background-size: 100% 100%;
}

.img-mosaico-social:nth-of-type(9){
    background-image: url(../img/img9.jpg);
    background-size: 100% 100%;
}

/* FACEBOOK */

.facebook{
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background-color: #576975;
}

.facebook p{
    color: white;
    font-size: 13px;
    line-height: 24px;
    padding: 10px 0;
}

/* CONTATO */

.contato{
    padding: 80px 0;
    text-align: center;
}

.contato .container{
    width: 100%;
    max-width: 450px;
}

.contato > h2{
    color: #698293;
    font-size: 22px;
}

.contato form{
    padding: 40px 0;
}

.contato .form-field{
    width: 100%;
    padding: 10px 0;
    display: inline-block;
}

.contato .form-field label{
    color: #B4B4B4;
    font-size: 15px;
    display: block;
    text-align: left;
}

.contato .form-field input[type=text],
.contato .form-field input[type=email],
.contato .form-field input[type=tel]{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 5px 8px;
    margin-top: 8px;
    border: 1px solid #DADADA;
}

.contato .form-field textarea{
    width: 100%;
    height: 150px;
    margin-top: 8px;
    padding: 5px 8px;
    border: 1px solid #DADADA;
    resize: none;
}

.contato .form-field input[type=text],
.contato .form-field input[type=email],
.contato .form-field input[type=tel],
.contato .form-field textarea{
    outline: 0;
}

.contato .form-field input[type=submit]{
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #688293;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    border: 0;
}





/* RESPONSIVIDADE */

@media screen and (max-width: 1024px){

    /* SOCIAL */

    .img-mosaico-social{
        width: calc(100% / 6);
        padding-top: calc(100% / 6);
    }

    .img-mosaico-social:nth-of-type(1n + 7){
        display: none;
    }
}


@media screen and (max-width: 768px){

    /* MENU */

    .menu-desktop{
        display: none;
    }

    .menu-mobile{
        display: block;
    }

    /* SERVICES */

    .services > .container{
        flex-direction: column;
    }

    .services > .container > .box-service:nth-of-type(1){
        width: 90%;
        max-width: 350px;
    }
    
    .services > .container > .box-service:nth-of-type(2){
        width: 94%;
        max-width: 380px;
        padding: 40px 2%;
    }
    
    .services > .container > .box-service:nth-of-type(3){
        width: 90%;
        max-width: 350px;
    }

    /* PERFIL */

    .perfil .perfil-box2{
        padding-top: 0;
    }

    .perfil .perfil-box{
        display: inline-block;
        text-align: center;
        position: static;
        height: auto;
    }

    .perfil .img-perfil{
        width: 50%;
        padding-top: 70%;
        display: inline-block;
        height: auto;
    }
    
    .perfil .texto-perfil{
        display: inline-block;
        width: 100%;
        text-align: justify;
    }

    /* VIDEO */

    .video{
        text-align: center;
    }
    
    .video .box-video{
        width: 80%;
        margin-bottom: 20px;
        display: inline-block;
        float: none;
        padding-top: calc(70% * 0.6);
        border: 5px solid white;
    }

     /* SOCIAL */

     .img-mosaico-social{
        width: calc(100% / 3);
        padding-top: calc(100% / 3);
    }

    .img-mosaico-social:nth-of-type(1n + 4){
        display: none;
    }
    
}


@media screen and (max-width: 580px){

    /* SERVICES */

    .perfil .img-perfil{
        width: 70%;
        padding-top: 100%;
        display: inline-block;
        height: auto;
    }

    /* VIDEO */

    .video .box-video{
        width: 90%;
        padding-top: calc(90% * 0.6);
    }
    
}